/* Layout simples */
:root{
    --bg: #f6f8fb;
    --panel: #ffffff;
    --hover: #b9b9b9;
    --muted: #6b7280;
    --muted2: #6b728045;
}
*{
  box-sizing:border-box
}

body {
  margin:0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  background:var(--bg);
  color:#111827;
  min-height:100vh;
  display:flex;
  align-items:flex-start;
  justify-content:center;
  padding: 50px; 
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

h1 {     
  margin: 0 0 18px 0; 
  font-size: 50px; 
}

p{
  margin-top:0.5vh;
  margin-bottom:1vh;
}

.selector {
  display: flex;
  flex-direction: row;
  gap: 5px;
}


.cerealItem {
    display:flex;
    align-items:center;
    text-align: center;
    flex-direction: column;
    gap:12px;
    padding:10px 12px;
    border-radius:10px;
    /*background:var(--muted2);*/
    cursor:pointer;
    transition: transform .12s ease, box-shadow .12s ease;
}

.cerealItem:hover { 
    transform: translateY(-3px); 
    box-shadow: 0 8px 22px rgba(12,14,20,0.08); 
}

.cerealName{
  text-align: center;
  white-space: normal;
  word-break: break-word;
  max-width: 80px;
  margin: 0 auto;
}


.cerealGramBadge{
    margin-left:auto;
    font-size:13px;
    color:var(--muted);
}

.cerealItem.selected{
    transform: scale(1.01);
}

#statusBar{
    margin-top:16px;
    color:var(--muted);
    font-size:14px;
}

.cerealItem.selected {
  background: #ddd;
  background-color: #ddd;
  box-shadow: 0 4px 14px rgba(12,14,20,0.06);
}

.shapeIndicator {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

.cerealItem span {
  display: block;
  text-align: center;
  max-width: 30px;
  margin: 0 auto;
  white-space: normal;
}

.cerealGramBadge {
  margin-left: 10px;
  font-weight: bold;
}

.cerealMilkBadge {
  font-size: 13px;
  color: #000;
  font-weight: bold;
  color: var(--muted);
  transition: all 0.12s ease;
}

.cerealItem.selected  {
  background-color: var(--muted2);
  /*color: var(--muted);*/
  font-weight: normal;
}


.bowlShape {
  width: 50px;
  height: 50px;
  /*border-radius: 15px;*/
  position: absolute;
  top: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.floatingAmount {
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  pointer-events: none;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 1s linear;
}

#bowlArea {
    flex: 1; 
    position: absolute; 
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #DAEFFA;
    cursor: pointer;
    z-index: 100;
}


.cerealParticle {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    z-index: 102;
}

#leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 20px); 
  width: 500px;

  background-color: #ffffff95;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 110;
}

#nutrientsBox {
  flex: 1;
  margin-top: -3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.top-row {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  align-items: center;
}

.filter-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

h3 {
  text-align: left;
  margin-bottom: 5px;
  margin-top:0vh;
}

#nutrients {
  align-self: flex-start;
}


#leftColumn #statusBar{
  margin: 15vh 0;
}

#selectorSection {
  padding: 0 2%;
}

.back-btn {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 200;
  padding: 10px 15px;
  border-radius: 8px;
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #222;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.back-btn:hover {
  background: rgba(0,0,0,0.1);
}

.graph {
  position: absolute;
  width: 360px;
  height: 270px;
  margin-right: 13%;
  margin-top: 15px;
  z-index: 1500;
  padding: 5%;
}

#chartFilters {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  justify-content: center;
}

#resetContainer {
  margin-bottom: 20px;
}

.resetBtn {
  padding: 10px 15px;
  border-radius: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: #333;
  transition: all 0.2s;
  font-size: 20px;
}

.resetBtn:hover {
  background: rgba(0,0,0,0.1);
}

.resetBtn:active {
  transform: scale(0.98);
}

.filterBtn {
  padding: 6px 14px;
  border-radius: 12px;
  background: #eee;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.filterBtn.active {
  background: #000;
  color: white;
}

.cerealShapeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;
  opacity: 0.6;
  transform: scale(0.5);
  width: 80px;
}

.cerealShapeItem.selected {
  opacity: 1;
  transform: scale(0.8);
  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.15));
  width: 80px;
}

.shapeIcon {
  transition: 0.25s;
}

.cerealShapeName {
  font-size: 12px;
  margin-top: 5px;
}

.milkGif {
    position: absolute;
    left:45vw;
    height: 115vh;
    width:auto;
    pointer-events: none;
    user-select: none;
    z-index: 10; 
}

#bowlEl {
  width: 35vw;
  height: 27vh;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  border-top: none;
  position: relative;
  left: 101vh;
  top: 70vh;
  background: rgba(78, 75, 75, 0.5);
  z-index: 111;
  overflow: hidden; 
  }

.milkLiquid {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(255, 255, 255, 0.75); 
  transition: height 0.3s ease; 
  z-index: 0;
}


.milkWarning { /* isto é quase igual ao #maxCerealMessage mas estão em css diferentes */
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  padding: 14px 23px;
  border-radius: 10px;
  font-weight: bold;
  z-index: 2000;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transform: translate(34vh, 15vh);
  border:2px solid black;
  color: #333;
}

.cerealWarning {
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  padding: 14px 23px;
  border-radius: 10px;
  font-weight: bold;
  z-index: 2000;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transform: translate(34vh, 15vh);
  border:2px solid black;
  color: #333;
}

.cerealTip {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(67%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 20px;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  z-index: 9999;
  pointer-events: none;
}

.cerealTip svg {
  margin-top: 8px;
  transition: transform 0.3s ease;
}

@keyframes click {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}