
#filters{
  font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


@font-face {
  font-family: font;
  src: url("../data/CEREAL KILLERZ.otf");
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden; 
  overflow-y: hidden; 
  font-size: 3rem;
  background-color: #DAEFFA;
  margin:0px; 
}

h2{
    font-size: 2.3rem;
}

main {
  display: flex;                
  align-items: flex-start;                   
  box-sizing: border-box;
}

.shelves {
    width:62vw;
    flex-shrink: 0;  
    margin-top: 17vh;     
}

.shelf {
    height: 21vh;
    margin: 0vh 0vw 0vh 6vh;
    background: rgba(152, 0, 0, 0);
    padding: 13px 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.rail {
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 16px;
    height: 3px; 
    background: #111;
    transform: translateY(6px);
}

#menu1{
position: fixed;
right: 19vh;
top: 25vh;
}

h2 {
    margin: 0;
}

.button-container {
    display: flex;
    gap: 3rem;
    margin-left:2vh;
    margin-top:1vw;
}

.button-container button{
  width:15vh;
}


button {
    padding: 0.5rem 1rem;
    border-radius: 7px;
    font-size: 1.3rem;
    border:0px;
    border:2px solid rgb(87, 82, 82);
    background-color: white;
    cursor: pointer;
}


button:hover{
  background-color: #00000026;
  transform: scale(1.05);
  transition: 0.1s;
}

#carrinho {
  position: relative;
  bottom: 53vh;
  left: 128vh;
  width: 70vh;
  height: 70vh;
  z-index: 1;
  cursor:pointer;
}

.flying-box {
  position: absolute;
  border-radius: 4px;
  transition: top 0.9s ease-in-out; 
}

#cartSummary {
  font-size: 1.1rem;
  width: 40vh;
  padding: 2vh;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: none;
  position: absolute; /* importante para movermos com JS */
  pointer-events: none; /* evita que o mouse "colida" com o div */
  z-index: 1000;
}

#popup{
margin-left:6vh;
position: fixed;
}

#maxCerealMessage{
  font-size:1.6rem;
  padding: 4vh;
  background: rgba(255, 255, 255, 1);
  border:2px solid black;
  padding: 14px 23px;
  border-radius: 10px;
  font-weight: bold;
  z-index: 2000;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
}


.cereal {
  position:relative;
  display:flex;
  align-items:flex-end;
  justify-content:center;
  box-shadow:var(--card-shadow);
  border:1px solid rgba(0,0,0,0.12);
  background-color: rgb(97, 97, 217);
  flex-shrink:0;
  cursor:pointer;
  transition: transform 300ms, box-shadow 200ms;
  color:white;
  overflow:visible;
  border-radius: 2px;
}

.name-vertical{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight:700;
  font-size:10px;
  padding:14px 2px;
  white-space:nowrap;
}

.protein-bar {
  position: absolute;
  left: 0;
  right: 0;  
  bottom: 2px;
  height: 10px;  
}

.cereal:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 2;
}

.modal-box {
  background-color:#DAEFFA;
  padding: 5vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
}

.modal-columns {
  display: flex;
  gap: 2vw;
}

#modalName {
  font-size: 3rem;
  width: 70vh;
}

.modal-rating {
  display: inline-block;
  font-size: 2rem;
}

.modal-rating span {
  display: inline-block;
  position: relative;
  width: 1em;
  color: #ccc; 
  margin-bottom:2.5vh;
}

.modal-rating span::before {
  content: "★";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.cereal-image-placeholder {
  width: 100%;
  height: 250px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  font-size: 0.9rem;
}

/* --- MID COLUMN (Nutrition Facts) --- */
.modal-center {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* O Nutrition Facts já tem o teu próprio CSS */
#modalNutrition {
  width: 100%;
}

/* --- RIGHT COLUMN (Add to cart) --- */
.modal-right {
margin-top: 8vw;
}

.modal-right button {
margin-left: 2vh;
}

.modal-right button {
width: 10vh;
}


.close {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.nutrition-facts {
  font-family: "Arial Black", Arial, sans-serif;
  width: 19vw;
  border: 2px solid black;
  padding: 15px;
  background: white;
}

.nutrition-facts h2 {
  font-size: 1.8rem;
  margin: 0;
}

.nutrition-facts .serving {
  margin: 5px 0;
  font-size: 0.9rem;
}

.line {
  border-top: 1px solid black;
  margin: 4px 0;
}

.line.thick {
  border-top: 3px solid black;
  margin: 6px 0;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 0.9rem;
  padding: 2px 0;
}

.row.header {
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-bottom: 4px;
}

.label {
  font-weight: bold;
}

.value {
  text-align: right;
}

.note {
  font-size: 0.75rem;
  margin-top: 6px;
}

/*---------------------------// Caixa ao lado do rotulo  //---------*/
.cereal-box-container {
    position: relative;
    width: 200px;
    height: 250px;
    margin: 20px auto;
    perspective: 600px;
}

.cereal-box-container svg{
  scale: 0.15;
  margin: -155vh -45vw;
}

#filters {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  max-height: 10vh;
  transition: max-height 0.2s ease;
  padding: 20px;
  background-color: rgba(0,0,0,0.1);
  padding-left: 34vh;
}

#filters.hidden {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}


.filter-row:first-child {
  gap: 3vh;               
}

#filters input[type="number"] {
  width: 5vh; 
  margin-bottom: 2vh;
}

.filter-row {
  display: flex;
  flex-direction: row; 
  align-items: center;
  width: 83%;
}


#brandContainer {
  display: flex;
  flex-direction: row;
  gap: 5vh;
}

#orderSelect{
  margin-left:7vh;
}

.buttontop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 6vh;
  font-size: 1rem;
  transition: background-color 0.2s;
  z-index:10;
  border:1px solid rgb(39, 38, 38);
  color:black;
}


.info-circle:hover , #resetFilters:hover{
  background-color: #00000026;
}


#info{
  display: none;    
}

#info img{
  width: 68vh;
  pointer-events: none;
  position: absolute;
  z-index: 11;
  top: 0vh;
  right: 0vh;
}

.error{
font-size: 3vh;
}


#button_content{
position:fixed;
top:-2vh;
left:3vh;
}


.hideFilter{
font-size: medium;
border:1px solid rgb(39, 38, 38);
}



.tip1{
  font-size: 1.5rem;
  margin-top: 2vh;
  margin-bottom:2vh;
  margin-right: 2vh;
  width: 41vh;
  margin-left: 2vh;
  margin-top: 2vh;
  display: flex;             /* Coloca o conteúdo em linha */
  align-items: center;       /* Alinha verticalmente o texto e a seta */
}

.tip1 p:first-child {
  margin: 0;                 /* Remove margens padrão do parágrafo */
}

.tip1 p:last-child {
  margin: 0;
  font-size: 70px;
  font-weight: bold;          /* Destaca a seta */
}

.tip {
    display: flex;
    align-items: center;  
    gap: 3vh; 
}

.tip p:first-child {
    font-size: 44px; 
}

#tip-shelf-1 , #tip-shelf-2 , #tip-shelf-3{
  font-size: 1.4rem;
  width: 44vh;
}

#tip-shelf-1 {
  margin-right: -102vh;
  margin-left: 58vh;
}

#tip-shelf-2 {
  margin-right: -112vh;
  margin-left: 68vh;
}

#tip-shelf-3{
  margin-right: -112vh;
  margin-left: 68vh;
}

.hide-arrow { display: none; }